*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}

/**navegador**/
nav
{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(255,255,255,0.3);
    transition: opacity 0.5s ease;
    z-index: 1000; 
}
nav ul
{
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
nav.scrolled 
{
    background-color: rgba(202, 208, 216, 0.7);
}
nav ul li
{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a
{
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}
nav ul li a:hover
{
    color: #9dcadd;
}

/**Head**/
h1
{
    font-size: 5rem;
    padding:20% 0;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url("../img/home1.webp");
    background-size: cover;
    background-position: center;
}

/**Section***/
section
{
    width: 100%;
    height: auto;
    padding: 40px;
    background: #fff;
    border-bottom: 1px solid #cad0d8;
    text-align: center;
    overflow: hidden;

    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}
section.visible
{
    opacity: 1;
    transform: translateY(0);
}

#selection
{
    opacity: 0;
    transform: translateY(40px);

}

/**imagen**/
.imagen
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.imagen:hover
{
    transform: scale(1.05);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.imagen.derecha
{
    float: right;
    margin-left: 40px; 
}
.imagen.izq
{
    float: left;
    margin-right: 40px; 
}

